<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://192.168.2.220/Banban.ipa</string><!--修改这里-->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                 <string>com.im.banban.ios</string><!--修改这里-->
                 <key>bundle-version</key>
                <string>1.0.0</string><!--修改这里-->
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>伴伴</string><!--修改这里-->
            </dict>
        </dict>
    </array>
</dict>
</plist>
